{% extends 'base.html' %}

{% block content %}


<div class="index-container">
    

    <div>
        {% if request.path == "/" %}
        <h1>Recently added quizzes</h1>
        {%endif%}
            <div>
                
                {% for q in quiz %}
                    <div>
                        <h5>
                                <a href="/quizzes/{{q.id}}"> {{q.name}} </a>
                        </h5>
                    </div>
    
    
                {%endfor%}
            </div>

        <hr>

    
    
    </div>

</div>  
{% endblock %}