{% extends "base.html" %}

{% block content %}

{% if page == 'login' %}

<!-- Login -->
<div name="Login">
    <form method="POST" action="">
        {% csrf_token %}

        <label >Username: </label>
        <input type="text" name="username" placeholder="Enter your username.." />

        <label >Password: </label>
        <input type="password" name="password" placeholder="Enter your password.."/>

        <input type="submit" value="login" />
    </form>
    <p>haven't signed up yet ?</p>
    <a href="{% url 'register' %}">Sign up</a>
</div>

{% else %}

<!-- Registration -->
<div name="Registration">

    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
       
        <input type="submit" value="Register" />
    </form>
    <p>already signed up ?</p>
    <a href="{% url 'login' %}">Log in</a>
</div>
{% endif %}
    

{% endblock %}